<style>
    .ng-container{
        margin-left: 20px;
    }
</style>

<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
               
                <form (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <h4>Conte o que está acontecendo:</h4> 
                        <textarea minlength="5" required rows="8" type="text" class="form-control" id="item" [(ngModel)]="itemValue" name="item" data-toggle="tooltip" data-placement="bottom" title="Descreva o seu problema" ></textarea>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Anônimo</label>
                        </div>
                    </div>
         
                    <div class="btn-group">
                        <button type="submit" class="btn btn-info" data-toggle="tooltip" data-placement="bottom" title="Enviar pergunta para o coordenador">Enviar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>

    <div class="jumbotron">
        <div class="container">
                <label><b>Seus desabafos:</b></label><br/>
                <pre wrap *ngFor="let item of items | async"> {{item.content}}</pre>
        </div>
    </div>