<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
               
                <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
                    <label for="problema">Qual seu problema?</label>
                    <select [(ngModel)]='nrSelect' class='form-control' (change)="ChangingValue($event)" [value]='47'>
                                <option value='47'>Relacionamento</option>
                                <option value='46'>Financeira</option>
                                <option value='45'>Desmotivação</option>
                                <option value='44'>Outros...</option>
                        </select>
                    <br/><br/>
                    <div class="form-group">
                        <label for="pergunta">Pergunta</label>
                        <textarea type="text" class="form-control" name="pergunta" [(ngModel)]="model.pergunta" #pergunta="ngModel" [ngClass]="{ 'is-invalid': f.submitted && pergunta.invalid }" required></textarea>
                        <div *ngIf="f.submitted && pergunta.invalid" class="invalid-feedback">
                            <div *ngIf="pergunta.errors.required">Campo pergunta é obrigatório</div>
                        </div>
                    </div>
                  
                    <div class="form-group">
                        <button class="btn btn-primary">Enviar</button>
                    </div>  
                </form>
            </div>
        </div>
    </div>
</div>