<div class="jumbotron"> 
    <div class="container">
        <div class="row">
            <form name="forme" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
                    <div class="form-group">
                        <label for="firstName"><i><b>Fabio Taffe Respondeu:</b></i></label>
                     <br />
                        <output>Boa Tarde, temos através da Unisep, uma Psicóloga que 
                                irá lhe auxiliar no que for preciso, e, claro que a Unisep
                                dispõe de varias formas de financiamento, sendo eles, PROUNI, FIES e CREDU.
                                <br />
                                O FIES é um programa de financiamento do Governo Federal que objetiva
                                inserir e incentivar o aluno a cursar o Ensino Superior nas instituições de ensino privadas do Brasil.
                                <br />
                                A UNISEP disponibiliza o FIES para todos os seus cursos, tanto no campus de Dois Vizinhos,
                                quanto no campus de Francisco Beltrão. 
                                <br />
                                O Credu é a forma institucional, exclusiva da UNISEP, de facilitar o acesso do aluno no Ensino Superior. 
                                Trata-se de um Crédito Educativo onde o acadêmico se responsabiliza parte do pagamento das mensalidades
                                enquanto estuda e o remanescente depois de formado.
                                ProUni - Programa Universidade para Todos: Programa do Governo Federal que oferece bolsas de estudos aos
                                acadêmicos
                                de qualquer curso da UNISEP.
                                As bolsas do ProUni são distribuídas de duas formas: 
                                1. Bolsas integrais: são de 100%, cobrindo o valor total das mensalidades. 
                                Ou seja, o aluno não tem custos com mensalidades para estudar
                                na faculdade particular. Esse tipo de bolsa é reservado para quem tem renda familiar mensal de até um 
                                salário e meio por pessoa.
                                <br />
                                2. Bolsas parciais: são de 50%, cobrindo do valor parcial das mensalidades.
                                A outra metade deve ser paga pelo estudante, que pode conciliar a bolsa parcial com o programa
                                de Financiamento Estudantil do Governo Federal, o FIES (é preciso atender alguns
                                requisitos para usar os dois benefícios juntos).
                                Esse tipo de bolsa é para quem apresenta renda familiar mensal de até três salários mínimos por pessoa.
                        </output>
                    </div>   

                    <div class="form-group">
                        <output>Michel Fonseca:</output>
                        <input type="text" 
                               class="form-control"
                               name="responder"
                               [(ngModel)]="model.responder"
                               #responder="ngModel"
                               [ngClass]="{ 'is-invalid': f.submitted && firstName.invalid }" required />
                    </div>


                    <div class="form-group">
                        <button class="btn btn-primary">Responder</button>
                        <button class="btn btn-primary">Cancelar</button>
                    </div>
            </form>
        </div>
    </div>
</div>